<%- include("header") -%>
<div class="box" id="heading">
  <h1><%= titleejs %></h1>
</div>

<div class="box">
  <% for (let i = 0; i < tasksejs.length; i++) {%>
  <div class="item">
    <input type="checkbox" />
    <p><%= tasksejs[i] %></p>
  </div>
  <% } %>

  <div class="center-box">
    <form action="/" method="post">
      <input type="text" name="taskInput" placeholder="New task" autocomplete="off" autofocus />
      <button type="submit" name="list" value="work">+</button>
    </form>
  </div>
</div>
<%- include("footer") -%>
